<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
      <%- partial('post/statement') %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.gitment){ %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.gitment){ %>
  <section id="comments">
  </section>
  <script>
    window.onload = function(){
      var pageId = document.querySelector('.article').id
      // 判断域名
      if(window.location.host === 'andyliwr.github.io'){
        var gitment = new Gitment({
          // id: pageId, // 可选。默认为 location.href
          owner: 'Andyliwr',
          repo: 'Andyliwr.github.io',
          oauth: {
            client_id: 'ad6f70df0c70d2b715f9',
            client_secret: '40384bee244c1e17dd7c37733d21e9ef669e969c',
          },
        })
        gitment.render('comments')
      }else if(window.location.host === 'www.andylistudio.com'){
        var gitment = new Gitment({
          // id: pageId, // 可选。默认为 location.href
          owner: 'Andyliwr',
          repo: 'Andyliwr.github.io',
          oauth: {
            client_id: '2790c4c9522929c268a5',
            client_secret: '24c06ea2621f6e1f1a833119a8cc87d1bc272242',
          },
        })
        gitment.render('comments')
      }
    }
  </script>
<% } %>
