<% for (var i=0; i < site.data.others.length; i++) { %>
<h1><%= site.data.others[i].nav_name%></h1>
<ul class="post-list">
  <% for (var j=0; j < site.data.others[i].articles.length; j++) { %>
    <li class="post-item">
      <div class="meta">
        <time datetime="<%= site.data.others[i].articles[j].time %>" itemprop="datePublished"><%= site.data.others[i].articles[j].time %></time>
      </div>
      <span><a class="" href="<%= site.data.others[i].articles[j].article_link %>"><%= site.data.others[i].articles[j].article_name %></a><span class="description"><%= site.data.others[i].articles[j].article_des %></span></span>
    </li>
  <% } %>
</ul>
<% } %>
